.card {
  font-size: 18px;
  text-align: center;
  margin-bottom: 12px;
  cursor: pointer;
  perspective: 1000px;
  height: 63px;
  width: 470px;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;

 
  
  &.done {
    .cardInner {
      transform: rotateY(180deg);
    }
  }
}

.cardInner {
  position: relative;
  background-color: transparent;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.cardFront, 
.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 6px 12px;
}

.cardFront {
  background-color: rgb(26, 26, 26);
  color: rgb(240, 240, 240);
}

.cardBack {
  background-color: #bd0505;
  color: white;
  transform: rotateY(180deg);
}