.cover {
    width: 100%;
    min-height: 100vh;
    // display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    text-align: center;
    background-color: #242424;
    color: white

}
.descr {
    color: rgb(236, 47, 47);
    background-color: rgb(2, 1, 1);
    padding: 15px 0 ;
    font-size: 20px;
    line-height: 1.55;
    text-align: center;
}

.header {
    font-size: 68px;
    color: white;
    padding: 24px 0;
}
